<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UCompatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>教师展示资料</title>
    <style>
        .download{
            color: white;
            background-color: #5390fc;
        }
    </style>
</head>

<body>
    <div>
        <div>
            <span>称谓:</span>
            <span> 王老师 </span>
            <button class="download">
                下载展示资料
            </button>
        </div>
        <div>
            <span>学校:</span>
            <span>电子科技大学</span>
        </div>
        <div>
            <span>学历:</span>
            <span>本科生</span>
        </div>
        <div>
            <span>授课科目:</span>
        </div>
        <div>
            <select style="width: 120px">
            </select>
        </div>
        <div>
            <select style="width: 120px">
            </select>
        </div>
        <div>
            <select style="width: 120px">
            </select>
        </div>
        <div>
            <select style="width: 120px">
            </select>
        </div>
        <div>
            <span>价格区间:</span>
        </div>
        <div>
            <input style="width: 100px"></input>
        </div>
        <div>
            <span>至</span>
        </div>
        <div>
            <input style="width: 100px"></input>
        </div>
        <div>
            <span>元/小时</span>
        </div>
        <div>
            <span>展示价格:</span>
            <span>倍数设置: </span>
            <input style="width: 100px"></input>
        </div>
        <div>
            <span>价格区间:</span>
        </div>
        <div>
            <input style="width: 100px"></input>
        </div>
        <div>
            <span>至</span>
        </div>
        <div>
            <input style="width: 100px"></input>
        </div>
        <div>
            <span>元/小时</span>
        </div>
        <div>
            <span> 家教经历: </span>
            <textarea style="width: 500px" ></textarea>
        </div>
        <div>
            <span> 空闲时间: </span>
            <span>一直</span>
        </div>
        <div>
            <span> 区域: </span>
            <span>金涅区</span>
        </div>
        <div>
            <span> 常住地址: </span>
            <span>金牛区</span>
        </div>
        <div>
            <span> 一句话标签: </span>
            <input style="width: 450px"></input>
        </div>
        <div>
            <span> 授课课时数: </span>
            <input></input>
        </div>
    </div>
</body>

</html>